@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: rgb(44, 7, 62);
  color: white;
  height: 65px;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: 'Roboto', sans-serif;
  ;
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.line {
  background-color: rgb(27, 47, 173);
  height: 3px;
  width: 0;
  /* position: absolute; */
  transition: width 1s ease-in-out;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: 'Roboto', sans-serif;
  /* position: relative; */
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInfo {
  padding: 0 34px;
}



.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.box:hover {
  background-color: rgb(229, 217, 240);
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}



#reset {
  margin: 0 23px;
  padding: 6px 14px;
  background-color: #e5c7e5;
  border-radius: 6px;
  cursor: pointer;
}

#music {
  margin: 0 23px;
  padding: 6px 14px;
  background-color: #e5c7e5;
  border-radius: 6px;
  cursor: pointer;
}

.info {
  font-size: 25px;
}

@media screen and (min-width:951px) {
  .line {
    background-color: rgb(27, 47, 173);
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
  }

  .container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
}

@media screen and (max-width:950px) {
  .gameContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gameInfo {
    margin-top: 34px;
  }

  .gameInfo h1 {
    font-size: 1.5rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
  }

  .line {
    display: none;
  }
}